*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

#container-div{

    overflow: hidden;
    background-color: #ffffff;
    max-width: 680px;
    margin: 2% auto;
    border-radius: 2px;
    border: 1px solid #aaa;
    box-sizing: border-box;
    box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
}

h4 {
    width: auto;        
    margin: 3% auto 3% auto;
    font-size: 1.4rem;
    text-align: center;
    font-family: inherit;
    color: #32325D;

}

.fa-address-book{
    font-size: 35px;
    color: #32325D;
}

#formDiv{
    background-color: #ffffff;
    margin: 0  auto;
    padding:0 7%;
    box-sizing: border-box;
    color: #525F7f;

}

#rowForm {

    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 12px 12px ;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    
}

.form-group, .col-group-1{
    width: 250px;
    font-family: inherit;
    height: auto;
    font-size: 0.875rem;
    font-weight: bold;
}

.col-group-2{
width: 120px;
font-family: inherit;
height: auto;
font-size: 0.875rem;
font-weight: bold;
}

.col-group-3 {
    width: 50%;
    font-family: inherit;
    height: auto;
    font-size: 0.875rem;
    font-weight: bold;

    }

.classmail{
    color: red;
    font-weight:lighter;
}  



#formDiv > #navy-hr{
    width: 100%;
    height: 1px;
    background:#32325D;
    margin: 5% 0;

}
.form-group >label::after ,.star-col  >label::after  {
    content: "*" ;
    color: red;
}

.form-group > input,.form-group > select, .col-group-2 > input, .col-group-2 > select{
    margin: 8px 0 2px 0;
    width: 100%;
    padding: 8px; 
    border: 1 solid #aaa;
    border-radius: 5px;
}

.col-group-3 > input {
    margin-top: 20px;
}
.col-group-4{
    width: 31%;
}
.col-group-4 > input, .col-group-4 > select{
    margin: 8px 0 2px 0;
    width: 100%;
    padding: 8px; 
    border: 1 solid #aaa;
    border-radius: 5px;
}


@media only screen and (max-width: 700px) {
    

    #container-div{

        width: 94%;

    }
    .form-group, .col-group-1, .col-group-2,.col-group-4{
        width: 100%;
        margin-bottom: 10px;
    }
    

}

.col-group-3 > input[value=female] {
    margin-left: 20px;
}



#buttonDiv{
    width: 100%;
    margin:0px auto 15px auto;
}

.buttonFormat{
    padding: 3%;
    font-size: 14px;
    margin-left: 20px;
    border-radius: 8px;
    font-weight: bold;

}
.buttonStyle{
    background: #F5365C;
    font-size: inherit;
    color: #ffffff;
    width: auto;
}


.submitStyle{
    background-color: royalblue;
    font-size: inherit;
    color: #ffffff;
    width: auto ;

}
input:invalid {
    border: 1px solid red;

}
